data/raw/ml-latest/*.csv filter=lfs diff=lfs merge=lfs -text
data/raw/ml-latest-small/links.csv filter=lfs diff=lfs merge=lfs -text
data/raw/ml-latest-small/movies.csv filter=lfs diff=lfs merge=lfs -text
data/raw/ml-latest-small/tags.csv filter=lfs diff=lfs merge=lfs -text
